@page
@using AFS.NET_Test.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TranslateViewModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Shakespare Translator</h1>
    <form asp-controller="HomeController" asp-action="Translate" method="get">
        <input type="text" placeholder="Write your text" asp-for="contents.text"/>
        <input type="submit" value="Submit"/>
    </form>
</div>